.bgGral{
    width: 1440px;
    overflow: hidden;
    margin: 0px auto; 
    background-image: url("../../../public/assets/Background.svg");
    padding-bottom: 20%;
}

.titleLoad{
    font-size: 64px;
    font-weight: bold;
    margin: 20px 0px 50px 55px  ;
}

.divMomentos{
    justify-content: center;
}

.divCarga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 88px;
    background-image: url("../../../public/assets/momentos.png");
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10%;
   
}

.vistaPrevia{
    padding-left: 50%;
}

.columnDivMoment{
    column-count: 2;
    column-gap: 8%; 
}

.inlineBlock{
    display: flex;
    flex-direction: column;
    padding-top: 20px;   
}

.borderInputOne{
    border: 1px solid black;
    width: 369px;
    height: 36px;
}
.borderInputThree{
    border: 1px solid black;
    width: 369px;
    height: 60%; 
}

.widthTitle{
    height: 400px;
    margin-left: 40%;
    margin-top: 8%;
}

.borderInputTwo{
    border: 1px solid black;
    width: 340px;
    height: 250px;
}

.contornosImg{
    padding-top: 8%;
 
}

.padButton{
    padding-top: 5%;
    padding-left: 25%;
}

.marButtonCancel{
    margin-right: 20px;
    background-color: #e8edf1;
    border-radius: 3px;
    width: 92px;
    height: 44px;
}

.marButtonPublic{
    margin-right: 20px;
    background-color: #2ec5ce;
    border-radius: 3px;
    width: 92px;
    height: 44px;
    margin-top: 120px;
}
.fontStyleMomentos{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.fontStyleMomentosButton{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}