.bgImage {
    background-image: url("../../components/assets/images/bg/bg-image.png");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.index-0, .index-3 {
  transform: scale(0.85);
}
.index-1, .index-2 {
  
}
.gradient-celeste {
  background: radial-gradient(90.51% 90.51% at 22.82% 20.63%, #2EC5CE 0%, rgba(46, 197, 206, 0) 100%);
}
/*.card {
  transition: all 0.5s ease-out;
}*/