.container {
width: 100%;
}
.años{
    font-size: 32px;
    margin-top: 50px;
    color: grey;
}
.años:hover{
    font-size: 60px;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.video {
position: relative;
left: 15rem;
bottom: 26rem;
}

.fotos {
width: auto;
position: relative;
bottom: 50rem;
left: 40rem;
}
