.cardMomentos{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: black;
}

.cardImg{
    width: 100%;
}

.cardBlack{
    background-color: black;
    text-align: center;
    height: 150px;
}

.cardBlack p{
    color: white; 
}



.h2Home, .h4Home, .one{
   display: flex;
   margin-left: 5%; 
}

.h2Home{
    margin-top: 8%;
    font-size: 48px;
    font-weight: 700;
   margin-bottom: 50px;
}

.one{
    margin-bottom: 8%;
}