

.register{

    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dytpump6i/image/upload/v1668637740/unsplash_BXOXnQ26B7o_yrbjik.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}